<a href="https://colab.research.google.com/github/saikrishna9917/AIML/blob/master/Day_2_Assignment(27_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pattern Program

In [0]:
rows=int(input("enter number of rows"))
for i in range(0,rows):
    for j in range(0, i + 1):
        print("*", end=' ')


    print("\r")

enter number of rows5
*
* *
* * *
* * * *
* * * * *

# Multiplication table of k

In [0]:
num=int(input("enter the number"))
for i in range(1,11):
    print(num, 'x', i, '=', num*i)

enter the number7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# Roots of quadratic equation

In [0]:
import cmath
a=int(input("enter the a value"))
b=int(input("enter the b value"))
c=int(input("enter the c value"))
d=(b**2) - (4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print('the solution are{0} and {1}'.format(sol1,sol2))

enter the a value1
enter the b value5
enter the c value6
the solution are(-3+0j) and (-2+0j)

# Conversion of decimal to binary

In [0]:
def convertToBinary(n):
    if n > 1:
       convertToBinary(n//2)
    print(n % 2,end= '')
dec = int(input("enter the decimal number"))
convertToBinary(dec)
print()

enter the decimal number5
101

# Fibonacci series

In [0]:
n=int(input("enter number of terms"))
i=1
t1=0
t2=1
while(i<n):
    print(t1)
    next=t1+t2
    t1=t2
    t2=next
    i=i+1

enter number of terms5
0
1
1
2